* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(160, 45, 45)a(255, 0, 0, 0.443);}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3
{font-weight: bold;
font-size: 1.5rem;
color: white;
background-color: black;
animation-name: result-animation;
animation-duration: 4s;
animation-delay: 2s;
animation-timing-function: ease-in;
animation-iteration-count: 1;
}

@keyframes result-animation {
0% {transform: translateY(-450%)}
100% {transform: translateY(0%);}

}
